.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    79deg,
    rgb(141, 96, 209),
    rgb(177, 211, 177),
    rgb(226, 193, 153)
  );
  background-attachment: fixed; /* Make background img fixed */
  background-repeat: no-repeat; /* Don't repeat the img */
  background-size: cover; /* Cover the entire screen */
  background-position: center;
  /* background: linear-gradient(to right, rgb(177, 211, 177), rgb(226, 193, 153)); */
}

.auth-form-container,
form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  border: none;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.l1 {
  margin-top: 20px;
  border-radius: 8px;
}

.link {
  background: none;
  color: white;
  text-decoration: underline;
}
