/* import data */
.content {
  text-align: start;
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: auto;
  background-color: #0b1655;
  padding: 20px;
  border-radius: 8px;
}

label {
  color: rgb(118, 5, 170);
}

.p1 {
  display: flex;
  justify-content: center;
}

.t1 {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 0.15rem;
}
.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}
#result1 {
  color: green;
}

#result2 {
  color: red;
}

.options {
  width: 100%;
  height: 50%;
  opacity: 0.7;
  border-radius: 3px;
}
